<!-- Home view -->
<!-- Header -->
<header class="site-header">
	<div class="site-header__inner">
		<div class="container">
			<div class="site-header__container site-header__container_left">
				<!-- Links set -->
				<div class="links-set">
					<ul class="links-set__list">
						<li class="links-set__item">
							<a href="/article/1" class="links-set__link">
								<svg class="icon icon-money"><use xlink:href="icons/icons.svg#money"></use></svg>
								<span class="links-set__text">
									Оплата
								</span>
							</a>
						</li>
						<li class="links-set__item">
							<a href="/article/2" class="links-set__link">
								<svg class="icon icon-truck"><use xlink:href="icons/icons.svg#truck"></use></svg>
								<span class="links-set__text">
									Доставка <span class="tablet-hide">и установка</span>
								</span>
							</a>
						</li>
						<li class="links-set__item">
							<a href="#" class="links-set__link">
								<svg class="icon icon-search"><use xlink:href="icons/icons.svg#search"></use></svg>
								<span class="links-set__text">
									Поиск
								</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<!-- Logo -->
			<h1 class="logo">
				<a href="/home" class="logo__link">
					<img src="img/logo.svg" alt="logo" class="logo__img">
				</a>
				<div class="logo__shadow"></div>
			</h1>
			<div class="site-header__container site-header__container_right">
				<!-- Cart -->
				<div class="cart">
					<div class="cart__container">
						<svg class="icon icon-cart"><use xlink:href="icons/icons.svg#cart"></use></svg>
						<div class="cart__counter">
							12
						</div>
					</div>
					<div class="cart__text">
						Корзина
					</div>
				</div>
				<!-- Call me -->
				<div class="call-me">
					<svg class="icon icon-operator"><use xlink:href="icons/icons.svg#operator"></use></svg>
					<a href="tel:+74955426484" class="call-me__link">
						+7 (495) 542-64-84
					</a>
					<div class="call-me__time">
						9-21ч
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Main menus -->
	<div class="container container_menu">
		<!-- Main menu green -->
		<nav hider hider-point="330" class="main-menu main-menu_green main-menu_left">
			<h2 class="main-menu__title">
				Жалюзи
			</h2>
			<ul class="main-menu__list">
				<li class="main-menu__item">
					<a href="/catalog" class="main-menu__link active">
						Горизонтальные
					</a>
				</li>
				<li class="main-menu__item">
					<a href="#" class="main-menu__link">
						Вертикальные
					</a>
				</li>
				<li class="main-menu__item with-sub">
					<a href="#" class="main-menu__link">
						Деревянные
					</a>
					<!-- Sub menu -->
					<ul class="main-menu__list">
						<li class="main-menu__item">
							<a href="#" class="main-menu__link">
								Алюминиевые
							</a>
						</li>
						<li class="main-menu__item">
							<a href="#" class="main-menu__link">
								Бамбуковые
							</a>
						</li>
						<li class="main-menu__item">
							<a href="#" class="main-menu__link">
								Пластиковые
							</a>
						</li>
					</ul>
				</li>
				<li class="main-menu__item">
					<a href="#" class="main-menu__link">
						Рулонные
					</a>
				</li>
			</ul>
		</nav>
		<!-- Main menu blue -->
		<nav hider hider-point="330" class="main-menu main-menu_blue main-menu_right">
			<h2 class="main-menu__title">
				Шторы
			</h2>
			<ul class="main-menu__list">
				<li class="main-menu__item with-sub">
					<a href="#" class="main-menu__link active">
						Горизонтальные
					</a>
					<!-- Sub menu -->
					<ul class="main-menu__list">
						<li class="main-menu__item">
							<a href="#" class="main-menu__link">
								Алюминиевые
							</a>
						</li>
						<li class="main-menu__item">
							<a href="#" class="main-menu__link">
								Бамбуковые
							</a>
						</li>
						<li class="main-menu__item">
							<a href="#" class="main-menu__link">
								Пластиковые
							</a>
						</li>
					</ul>
				</li>
				<li class="main-menu__item">
					<a href="#" class="main-menu__link">
						Вертикальные
					</a>
				</li>
				<li class="main-menu__item">
					<a href="#" class="main-menu__link">
						Деревянные
					</a>
				</li>
				<li class="main-menu__item">
					<a href="#" class="main-menu__link">
						Рулонные
					</a>
				</li>
			</ul>
		</nav>
	</div>
</header>

<!-- Main content -->
<main class="main-content">
	<!-- Slider big -->
	<section class="slider slider_big">
		<div
			id="bigCarousel"
			single-item="true"
			pagination="false"
			transition-style="'fade'"
			mouse-drag="false"
			auto-play="true"
			owl-carousel="bigSliderItems">
			<div class="item">
				<div
					ng-style="{'background': 'url({{item}}) center no-repeat', 'background-size': 'cover'}"
					class="slider__img">
				</div>
			</div>
		</div>
	</section>
	<!-- Steps -->
	<section class="container">
		<div class="steps">
			<ul class="steps__list">
				<li class="steps__item">
					<svg class="icon icon-search-big"><use xlink:href="icons/icons.svg#search-big"></use></svg>
					<span class="steps__counter">
						1
					</span>
					<span class="steps__text">
						Найдите красивые жалюзи ипользуя <a href="constructor" class="steps__link">конструктор</a>
					</span>
				</li>
				<li class="steps__item">
					<svg class="icon icon-phone"><use xlink:href="icons/icons.svg#phone"></use></svg>
					<span class="steps__counter">
						2
					</span>
					<span class="steps__text">
						Оформите заказ и наш менеджер перезвонит Вам
					</span>
				</li>
				<li class="steps__item">
					<svg class="icon icon-pen"><use xlink:href="icons/icons.svg#pen"></use></svg>
					<span class="steps__counter">
						3
					</span>
					<span class="steps__text">
						К Вам бесплатно приедет замерщик с образцами
					</span>
				</li>
				<li class="steps__item">
					<svg class="icon icon-worker"><use xlink:href="icons/icons.svg#worker"></use></svg>
					<span class="steps__counter">
						4
					</span>
					<span class="steps__text">
						Изготовление за 3-5 дней, установка специалистом
					</span>
				</li>
			</ul>
		</div>
	</section>
	<section class="container__holder">
		<div class="container container_margin-bottom">
			<!-- News -->
			<div class="news">
				<div class="news__inner">
					<!-- Img -->
					<div
						style="background-image: url(img/notebook.jpg);"
						class="news__img">
					</div>
					<div class="news__container">
						<!-- Status -->
						<div class="news__label">
							<div class="news__label-text">
								Акция
							</div>
						</div>
						<!-- Title -->
						<h2 class="news__title">
							Экономьте до&nbsp;28%&nbsp;с&nbsp;нами
						</h2>
						<!-- Text -->
						<p class="news__text">
							При заказе жалюзи и штор мы даем возможность каждому сэкономить до 28%. для этого Вам необходимо гайти купоны на скидку на нашем промо сайте
						</p>
						<!-- Btn -->
						<a href="#" class="btn btn_blue">
							Узнать подробности
						</a>
					</div>
				</div>
			</div>
			<!-- Question -->
			<question></question>
			<!-- Benefits -->
			<benefits
				title="Преимущества"
				url="benefits.json">
			</benefits>
			<!-- Product -->
			<div ng-include="'views/directives/product.html'" scope="" onload=""></div>
			<!-- Article preview -->
			<article class="article-preview">
				<div class="article-preview__container">
					<!-- Title -->
					<h2 class="article-preview__title">
						Тренды в оформлении окон 2015
					</h2>
					<!-- Text -->
					<p class="article-preview__text">
						О последних новинках в индустрии жалюзи и о том как будет модно оформлять окна в 2016 году расскажет жизайнер интерьеров &nbsp;<svg class="icon icon-gt"><use xlink:href="icons/icons.svg#gt"></use></svg>
					</p>
					<!-- Author -->
					<div class="article-preview__author">
						<img src="img/ava2.jpg" alt="" class="article-preview__author-avatar">
						<div class="article-preview__author-name">
							Вероника Маркина
						</div>
					</div>
				</div>
				<!-- Img -->
				<div
					style="background: url('img/trends.jpg') left center no-repeat; background-size: cover;"
					class="article-preview__img">
				</div>
			</article>
		</div>
	</section>
	<!-- Jumbotron -->
	<section class="jumbotron container__holder">
		<!-- Img -->
		<div style="background-image: url('img/jumbotron.jpg')" alt="" class="jumbotron__img"></div>
		<div class="container">
			<div class="jumbotron__container">
				<!-- Title -->
				<h2 class="jumbotron__title">
					Используйте конструктор
				</h2>
				<!-- Text -->
				<p class="jumbotron__text">
					Сложно подобрать жалюзи или шторы? Ипользуйте наш удобный конструктор, легко меняя типы жалюзи, цвет и текстуры.
				</p>
				<!-- Btn -->
				<a href="#" class="btn btn_green">
					Перейти в конструктор
				</a>
			</div>
		</div>
	</section>
	<!-- Catalog -->
	<div class="container">
		<div class="catalog">
			<ul class="catalog__list">
				<li
					ng-repeat="(key, value) in catalogItems"
					class="catalog__item">
					<div ng-include="'views/directives/product.html'" scope="" onload=""></div>
				</li>
			</ul>
			<!-- More btn -->
			<div class="more-btn">
				<a href class="more-btn__link">
					<span class="icon icon-more"></span>
					<span class="more-btn__text">
						Показать больше новинок
					</span>
				</a>
			</div>
		</div>
	</div>
</main>
