<div class="cart" ng-mouseenter="showDropdown()" ng-mouseleave="hideDropdown()">
	<div>
		<div class="cart__container" ng-class="{'pulse': items.length>0}">
			<svg class="icon icon-cart"><use xlink:href="icons/icons.svg#cart"></use></svg>
			<div class="cart__counter">{{items.length}}</div>
		</div>
		<div class="cart__text">
			Корзина
		</div>
	</div>
	<div class="cart__dropdown" ng-mouseenter="showDropdown()" ng-mouseleave="hideDropdown()" ng-class="{expanded : (items.length>0 && dropdownVisible)}">
		<div class="cart__title">В корзине {{items.length}} {{pluralize(items.length)}}:</div>
		<ul class="cart__list">
			<li
				ng-repeat="(key, product) in items track by $index"
				class="cart__item cart-product">
					<img src="{{product.image}}" class="cart-product__img">
					<div class="cart-product__title">{{product.title}}</div>
					<div class="cart-product__price"><strong>от {{product.price}} р.</strong>/м<sup>2</sup></div>
					<button class="cart-product__dismiss" ng-click="removeProduct(key)">
						<svg class="icon icon-close"><use xlink:href="icons/icons.svg#close"></use></svg>
					</button>
			</li>
		</ul>
		<footer class="cart__footer">
			<p class="cart__description">
				Оставьте свой телефон и наш менеджер 
				перезвонит Вам для подтверждения заказа.
			</p>
			<div class="cart__phone-holder">
				<input type="tel" class="cart__phone-input" max-length="11" ng-model="order.phone">
			</div>
			<button class="cart__phone-button btn btn_green">Жду звонка</button>
		</footer>
	</div>
</div>