<div class="constructor-preview">
	<img
		ng-src="data:image/jpg;base64,{{background}}"
		alt=""
		class="constructor-preview__bg">
	<div
		ng-style="{'background-size': 'cover'}"
		style="background: url(data:image/jpg;base64,{{background}}) no-repeat"
		class="constructor-preview__bg">
	</div>
	<!-- <div
		ng-style="{'background-size': 'cover'}"
		style="background: url(data:image/jpg;base64,{{background}}) no-repeat"
		class="constructor-preview__bg">
	</div> -->
	<div
		ng-if="false"
		ng-style="{'background': 'url({{background}}) no-repeat', 'background-size': 'cover'}"
		class="constructor-preview__bg">
	</div>
	<div
		ng-style="{'background': 'url({{blind}}) no-repeat', 'background-size': '100% 100%'}"
		class="constructor-preview__box js-box">
	</div>
</div>
