<div class="dialog" ng-controller="DialogCtrl" ng-show="!!state">
	<div class="dialog__bg" ng-click="CloseDialog()"></div>
	<div class="dialog__content">
		<div ng-include="'views/directives/search.html'" ng-if="state === 'search'"></div>
		<div class="dialog__window" ng-class="{picture: picture}" ng-show="state !== 'search'">
			<button class="dialog__close" ng-click="CloseDialog()">
				<svg class="icon icon-close_popup"><use xlink:href="icons/icons.svg#close_popup"></use></svg>
			</button>
			<div ng-include="'views/directives/order-form.html'" ng-if="state === 'order'"></div>
			<div ng-include="'views/directives/feedback.html'" ng-if="state === 'feedback'"></div>
		</div>
	</div>
</div>