<form actin="#" class="order-form">
	<h3 class="order-form__title">
		<svg class="icon icon-cart"><use xlink:href="icons/icons.svg#cart"></use></svg>
		<span>Оформить заказ</span>
	</h3>
	<ol class="order-form__list">
		<li class="order-form__item"><strong>1.</strong> Римские шторы модель Лаура - 1700 р./м2</li>
		<li class="order-form__item"><strong>2.</strong> Римские шторы - 1200 р./м2</li>
		<li class="order-form__item"><strong>3.</strong> Горизонтальные жалюзи - 800 р./м2</li>
	</ol>
	<input type="text" class="order-form__input" placeholder="Ваше имя">
	<input type="text" class="order-form__input" placeholder="Ваш email">
	<footer class="order-form__footer">
		<p class="order-form__text">
			Сегодня мы уже не работаем, но завтра наш менеджер 
			обязательно перезвонит Вам для подтверждения заказа.<br>
			Выберите время звонка:
		</p>
		<button class="btn btn_blue btn_big order-form__submit">Перезвоните мне</button>
	</footer>
</form>