<form actin="#" class="order-form">
	<h3 class="order-form__title">
		<svg class="icon icon-cart"><use xlink:href="icons/icons.svg#cart"></use></svg>
		<span>Оформить заказ</span>
	</h3>
	<ol class="order-form__list">
		<li class="order-form__item">Римские шторы модель Лаура - 1700 р./м2</li>
		<li class="order-form__item">Римские шторы - 1200 р./м2</li>
		<li class="order-form__item">Горизонтальные жалюзи - 800 р./м2</li>
	</ol>
	<input type="text" class="order-form__input" placeholder="Ваше имя">
	<input type="text" class="order-form__input" placeholder="Ваш email">
	<textarea rows="10" class="order-form__input" placeholder="Сообщение"></textarea>
	<footer class="order-form__footer">
		<button class="btn btn_blue btn_big order-form__submit">Отправить</button>
	</footer>
</form>