.btn {
	border: none;
	display: inline-block;
	background: #ccc;
	text-transform: uppercase;
	color: #fff;
	line-height: 30px;
	text-decoration: none;
	padding: 0 10px;
	border-radius: 3px;
	.no-break();
	&_blue {

	}
	&_red {

	}
	&_green {

	}
	&_size-1 {}
	&_size-2 {}
	&_size-3 {}
	&_size-4 {}
	&_size-5 {}
}
