.cart {
	.clearfix();
	display: inline-block;
	position: relative;
	padding-right: 25px;
	vertical-align: top;
	margin-top: 14px;
	&:after {
		content: '';
		width: 1px;
		height: 20px;
		background: @header-border-color;
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
	}
	&__container {
		float: left;
		position: relative;
		padding-right: 20px;
	}
	&__counter {
		display: inline-block;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		background: @green;
		position: absolute;
		top: 8px;
		left: 23px;
		color: #747c3a;
		font-size: 10px;
		font-weight: 900;
		line-height: 1;
		padding: 5px 0;
		text-align: center;
		.no-select();
	}
	&__text {
		float: left;
		line-height: 35px;
		font-size: 13px;
	}
	&__dropdown{
		position: absolute;
		top: 100%;
		left: 0;
		width: 500px;
		height: 700px;
		background: #fff;
		z-index: -1;
		display: none;
	}
}
