.catalog {
	&__list {
		list-style: none;
		padding: 0;
		margin: 0;
		.clearfix();
	}
	&__item {
		float: left;
		width: 100%/4;
		padding: 0 10px;
		margin-bottom: 40px;
	}
	&__more {
		padding-top: 0px;
		padding-bottom: 50px;
		text-align: center;
	}
	&__more-link {
		display: inline-block;
		color: darken(#a1a1a1, 10%);
		font-size: 11px;
		font-weight: 500;
		text-transform: uppercase;
		text-decoration: none;
		letter-spacing: 0.04em;
		opacity: 0.75;
		padding: 20px;
		transition: opacity @animation-time;
		&:hover{
			opacity: 1;
		}
	}
	&__more-text {
		margin-left: 10px;
	}
	&_3 {
		.catalog__item {
			width: 100%/3;
		}
	}
}
