.form {
	background: #fff;
	.clearfix();
	&__title {

	}
	&__row {

	}
	&__column {
		float: left;
		width: 50%;
		&:first-child {
			padding-right: 10px;
		}
		&:last-child {
			padding-left: 10px;
		}
	}
	&__fieldset {
		border: 0;
		padding: 40px 20px;
		margin: 0;
		margin-bottom: 20px;
		min-width: 0;
		background: #fff;
	}
	&__legend {
		float: left;
		width: 100%;
		opacity: 0.89;
		color: #363537;
		font-size: 12px;
		font-weight: 500;
		text-transform: uppercase;
		margin: 0 0 20px;
	}
	&_filter {

	}
	&_review {

	}
}
