.icon {
	display: inline-block;
}
.icon-logo {
	background: url('../img/logo.svg') no-repeat center;
	width: 120px;
	height: 120px;
}
.icon-cart {
	background: url('../img/cart.svg') no-repeat center;
	width: 50px;
	height: 50px;
}
.icon-money {
	background: url('../img/money.svg') no-repeat center;
	width: 40px;
	height: 40px;
}
.icon {}
.icon {}
.icon {}
.icon {}
.icon {}
.icon {}
