.icon {
	display: inline-block;
}
.icon-logo {
	width: 120px;
	height: 120px;
}
.icon-cart {
	width: 33px;
	height: 33px;
}
.icon-money {
	width: 35px;
	height: 35px;
}
.icon-truck {
	width: 38px;
	height: 38px;
}
.icon-search {
	width: 38px;
	height: 38px;
}
.icon-operator {
	width: 33px;
	height: 33px;
}
.icon-search-big {
	width: 41px;
	height: 41px;
}
.icon-phone {
	width: 38px;
	height: 45px;
}
.icon-pen {
	width: 45px;
	height: 45px;
}
.icon-worker {
	width: 31px;
	height: 45px;
}
.icon-reload {
	width: 20px;
	height: 20px;
}
.icon-shevron-left {
	width: 20px;
	height: 20px;
}
.icon-shevron-right {
	width: 20px;
	height: 20px;
}
.icon-star {
	width: 15px;
	height: 15px;
}
.icon-more {
	margin: 0 9px;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background-color: #9e9e9e;
	box-shadow: 9px 0 0 0 #9e9e9e, -9px 0 0 0 #9e9e9e;
}
.icon-vk {
	width: 40px;
	height: 40px;
}
.icon-fb {
	width: 40px;
	height: 40px;
}
.icon-ok {
	width: 40px;
	height: 40px;
}
.icon-insta {
	width: 40px;
	height: 40px;
}
.icon-lock {
	width: 14px;
	height: 20px;
}
.icon-check {
	width: 10px;
	height: 10px;
}
.icon-rouble {
	background-size: 100% 100%;
	width: 8px;
	height: 11px;
}
