.logo {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	margin: 0 0 0 11px;
	&__link {
		display: block;
		position: relative;
		line-height: 0;
	}
	&__img {
		width: 120px;
		height: 120px;
	}
}
