.popup {
	position: absolute;
	right: 0;
	bottom: 0;
	transform: translateY(100%);
	background: #fff;
	padding: 20px 25px;
	width: 280px;
	box-shadow: 0 0 20px rgba(0,0,0,0.3);
	z-index: 5;
	&__title {
		margin: 0;
		opacity: 0.89;
		color: #363537;
		font-size: 12px;
		font-weight: 500;
		line-height: 20px;
		text-transform: uppercase;
	}
	&__content {

	}
	&__footer {
		margin-top: 20px;
	}
	&__link {
		opacity: 0.7;
		color: #363537;
		font-size: 12px;
		font-weight: 500;
		line-height: 20px;
		text-decoration: none;
	}
}
