.ribbon-title {
	position: absolute;
	left: 50%;
	top: 0;
	transform: translate(-50%, -100%);
	text-align: center;
	line-height: 50px;
	text-transform: uppercase;
	.img('product_category_title.png');
	&__text {

	}
}
