.textures {
	background: #fff;
	padding: 36px 40px 30px;
	position: relative;
	&:before, &:after {
		content: '';
		position: absolute;
		left: 40px;
		right: 40px;
		height: 1px;
		background: #ccc;
	}
	&:before {
		top: 0;
	}
	&:after {
		bottom: 0;
	}
	&__header {
		.clearfix();
	}
	&__title {
		margin: 0;
		font-weight: @normal;
		float: left;
	}
	&__filters {
		float: right;
		position: relative;
	}
	&__filters-title {
		float: left;
		margin: 0;
		font-size: 12px;
		font-weight: @normal;
	}
	&__filters-list {
		float: left;
		list-style: none;
		padding: 0;
		margin: 0;
	}
	&__filters-item {
		float: left;
	}
	&__filters-btn {
		&.active {
			background: orange;
		}
	}
	&__list {
		list-style: none;
		padding: 0;
		margin: 0;
		margin: 20px 0;
		.clearfix();
	}
	&__item {
		float: left;
		margin-right: 10px;
	}
}
