<!DOCTYPE html>
<html lang="ru" ng-app="myApp">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="fragment" content="!" />
	<title>Дизайн окна</title>
	<base href="/" />
	<link href="img/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
	<link href='https://fonts.googleapis.com/css?family=Lobster|Roboto:100,300,400,500,700,900,400italic,300italic&amp;subset=latin,cyrillic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/app.css">
	<script>
		// See params list in configService.js
		window.appLicationConfig = {};
	</script>
	<!--[if lt IE 9]>
    	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body ng-controller="MainCtrl">
	<div class="main-wrapper off-canvas" off-canvas>
		<div class="off-canvas__menu left show-in-portrait">
			<div class="mobile-aside ">
				<header class="mobile-aside__header">
					<button class="mobile-aside__close" ng-click="toggleOffCanvas('left');">
						<span>свернуть фильтры</span>
						<svg class="icon icon-shevron-right"><use xlink:href="/icons/icons.svg#shevron-right"></use></svg>
					</button>
				</header>
				<div class="mobile-aside__content filters"></div>
			</div>
		</div>
		<div class="off-canvas__menu right">
			<div ng-include="'includes/mobile-menu.html'"></div>
		</div>
		<div class="off-canvas__wrapper">
			<div class="off-canvas__content">
				<responsive></responsive>
				<div ng-if="!constructorHeader">
					<div ng-include="'includes/header.html'"></div>
				</div>
				<div ng-if="!!constructorHeader">
					<div ng-include="'includes/header-constructor.html'"></div>
				</div>
				<div ng-view autoscroll>
					<div class="dis-loader"><span class="dot"></span><span class="dot"></span><span class="dot"></span><span class="dot"></span><span class="dot"></span></div>
				</div>
				<footer class="site-footer">
					<!-- Seo -->
					<div class="seo">
						<div class="container" ng-if="!!blockContent">
							<!-- Logo -->
							<img src="img/logo_footer.png" alt="Дизайн Окна" class="seo__logo hide-in-mobile">
							<div class="seo__container" ng-bind-html="blockContentHtml"></div>
						</div>
					</div>
					<div class="site-footer__menu">
						<div class="container">
							<!-- Top -->
							<div class="site-footer__row">
								<!-- Left -->
								<div class="site-footer__column site-footer__column_left hide-in-tablet show-in-mobile">
									<!-- Contacts -->
									<div class="contacts">
										<!-- Title -->
										<h2 class="site-footer__title">
											Наши контакты
										</h2>
										<!-- List -->
										<ul class="contacts__list">
											<li class="contacts__item">
												<a href="tel:+74955426484" class="contacts__link">
													<span class="ya-phone">+7 (495) 542-64-84</span>
												</a>
											</li>
											<li class="contacts__item">
												<a href="mailto:info@design-okna.ru" class="contacts__link">
													info@design-okna.ru
												</a>
											</li>
											<li class="contacts__item">
												г. Москва, Новочеркасский бульвар,<br>д.41, корп.3
											</li>
										</ul>
									</div>
									<!-- Socials -->
									<div class="socials">
										<ul class="socials__list">
											<li class="socials__item">
												<a href="#" class="socials__link">
													<svg class="icon icon-vk"><use xlink:href="icons/icons.svg#vk"></use></svg>
												</a>
											</li>
											<li class="socials__item">
												<a href="#" class="socials__link">
													<svg class="icon icon-fb"><use xlink:href="icons/icons.svg#fb"></use></svg>
												</a>
											</li>
											<li class="socials__item">
												<a href="#" class="socials__link">
													<svg class="icon icon-ok"><use xlink:href="icons/icons.svg#ok"></use></svg>
												</a>
											</li>
											<li class="socials__item">
												<a href="#" class="socials__link">
													<svg class="icon icon-insta"><use xlink:href="icons/icons.svg#insta"></use></svg>
												</a>
											</li>
										</ul>
									</div>
								</div>
								<!-- Right -->
								<div class="site-footer__column site-footer__column_right">
									<!-- Title -->
									<h2 class="site-footer__title">
										Виды жалюзи
									</h2>
									<!-- Menu vertical -->
									<div class="menu-vertical">
										<div class="menu-vertical__column">
											<a href="/catalog/Gorizontalnyye_zhalyuzi" class="menu-vertical__title">
												Горизонтальные жалюзи
											</a>
											<ul class="menu-vertical__list">
												<li class="menu-vertical__item"><a href="/catalog/Gorizontalnye_zhaluzi/Alyuminievye" class="menu-vertical__link">Алюминиевые</a></li>
												<li class="menu-vertical__item"><a href="/catalog/Gorizontalnye_zhaluzi/Plastikovyye" class="menu-vertical__link">Пластиковыые</a></li>
												<li class="menu-vertical__item"><a href="/catalog/Gorizontalnye_zhaluzi/Bambukovye" class="menu-vertical__link">Бамбуковые</a></li>
												<li class="menu-vertical__item"><a href="/catalog/Gorizontalnye_zhaluzi/Volna" class="menu-vertical__link">Волна</a></li>
											</ul>
										</div>
										<div class="menu-vertical__column">
											<a href="/catalog/Vertikalnyye_zhalyuzi" class="menu-vertical__title">
												Вертикальные жалюзи
											</a>
											<ul class="menu-vertical__list">
												<li class="menu-vertical__item"><a href="/catalog/Vertikalnyye_zhaluzi/Alyuminevye" class="menu-vertical__link">Алюминевые</a></li>
												<li class="menu-vertical__item"><a href="/catalog/Vertikalnyye_zhaluzi/Tkanevye" class="menu-vertical__link">Тканевые</a></li>
												<li class="menu-vertical__item"><a href="/catalog/Vertikalnyye_zhaluzi/Plastikovye" class="menu-vertical__link">Пластиковые</a></li>
												<li class="menu-vertical__item"><a href="/catalog/Vertikalnyye_zhaluzi/Briz" class="menu-vertical__link">Бриз</a></li>
											</ul>
										</div>
										<div class="menu-vertical__column">
											<a href="/catalog/derevyannyye_zhalyuzi" class="menu-vertical__title">
												Деревянные жалюзи
											</a>
										</div>
										<div class="menu-vertical__column">
											<a href="/catalog/Rulonnyye_zhalyuzi" class="menu-vertical__title">
												Рулонные жалюзи
											</a>
											<ul class="menu-vertical__list">
												<li class="menu-vertical__item"><a href="/catalog/Rulonnyye_zhaluzi/Tkanevye" class="menu-vertical__link">Тканевые</a></li>
												<li class="menu-vertical__item"><a href="/catalog/Rulonnyye_zhaluzi/Zebra" class="menu-vertical__link">Зебра</a></li>
												<li class="menu-vertical__item"><a href="/catalog/Rulonnyye_zhaluzi/Mini" class="menu-vertical__link">Мини</a></li>
												<li class="menu-vertical__item"><a href="/catalog/Rulonnyye_zhaluzi/Uni" class="menu-vertical__link">Уни</a></li>
												<li class="menu-vertical__item"><a href="/catalog/Rulonnyye_zhaluzi/S_fotopechatyu" class="menu-vertical__link">С фотопечатью</a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<hr class="site-footer__delimeter">
							<div class="site-footer__row">
								<div class="site-footer__column site-footer__column_left hide-in-tablet">
									<!-- Write us -->
									<h2 class="site-footer__title">
										Обратная связь
									</h2>
									<p class="site-footer__text">
										Есть вопросы, пожелания, замечания или хотите нас похвалить?
									</p>
									<button class="btn btn_blue" ng-click="openFeedback()">
										Напишите нам
									</button>
								</div>
								<div class="site-footer__column site-footer__column_right">
									<!-- Title -->
									<h2 class="site-footer__title">
										Виды штор
									</h2>
									<!-- Menu vertical -->
									<div class="menu-vertical menu-vertical_tablet">
										<div class="menu-vertical__column">
											<!-- Title -->
											<h2 class="menu-vertical__title">
												Горизонтальные жалюзи
											</h2>
											<ul class="menu-vertical__list">
												<li class="menu-vertical__item">
													<a href="#" class="menu-vertical__link">
														Алюминиевые
													</a>
												</li>
												<li class="menu-vertical__item">
													<a href="#" class="menu-vertical__link">
														Пластиковые
													</a>
												</li>
												<li class="menu-vertical__item">
													<a href="#" class="menu-vertical__link">
														Бамбуковые
													</a>
												</li>
												<li class="menu-vertical__item">
													<a href="#" class="menu-vertical__link">
														Волна
													</a>
												</li>
												<li class="menu-vertical__item">
													<a href="#" class="menu-vertical__link">
														Деревянные
													</a>
												</li>
											</ul>
										</div>
										<div class="menu-vertical__column">
											<!-- Title -->
											<h2 class="menu-vertical__title">
												Горизонтальные жалюзи
											</h2>
											<ul class="menu-vertical__list">
												<li class="menu-vertical__item">
													<a href="#" class="menu-vertical__link">
														Алюминиевые
													</a>
												</li>
												<li class="menu-vertical__item">
													<a href="#" class="menu-vertical__link">
														Пластиковые
													</a>
												</li>
												<li class="menu-vertical__item">
													<a href="#" class="menu-vertical__link">
														Бамбуковые
													</a>
												</li>
												<li class="menu-vertical__item">
													<a href="#" class="menu-vertical__link">
														Волна
													</a>
												</li>
												<li class="menu-vertical__item">
													<a href="#" class="menu-vertical__link">
														Деревянные
													</a>
												</li>
											</ul>
										</div>
										<div class="menu-vertical__column">
											<!-- Title -->
											<h2 class="menu-vertical__title">
												Горизонтальные жалюзи
											</h2>
											<ul class="menu-vertical__list">
												<li class="menu-vertical__item">
													<a href="#" class="menu-vertical__link">
														Алюминиевые
													</a>
												</li>
												<li class="menu-vertical__item">
													<a href="#" class="menu-vertical__link">
														Пластиковые
													</a>
												</li>
												<li class="menu-vertical__item">
													<a href="#" class="menu-vertical__link">
														Бамбуковые
													</a>
												</li>
												<li class="menu-vertical__item">
													<a href="#" class="menu-vertical__link">
														Волна
													</a>
												</li>
												<li class="menu-vertical__item">
													<a href="#" class="menu-vertical__link">
														Деревянные
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<!-- Tablet contacts and socials -->
							<div class="site-footer__row site-footer__row_tablet hide-in-desktop">
								<div class="site-footer__column site-footer__column_left">
									<!-- Write us -->
									<h2 class="site-footer__title">
										Обратная связь
									</h2>
									<p class="site-footer__text">
										Есть вопросы, пожелания, замечания или хотите нас похвалить?
									</p>
									<button class="btn btn_blue" ng-click="openFeedback()">
										Напишите нам
									</button>
								</div>
								<div class="site-footer__column site-footer__column_middle hide-in-mobile">
									<!-- Contacts -->
									<div class="contacts">
										<!-- Title -->
										<h2 class="site-footer__title">
											Наши контакты
										</h2>
										<!-- List -->
										<ul class="contacts__list">
											<li class="contacts__item">
												<a href="tel:+74955426484" class="contacts__link">
													+7 (495) 542-64-84
												</a>
											</li>
											<li class="contacts__item">
												<a href="mailto:info@design-okna.ru" class="contacts__link">
													info@design-okna.ru
												</a>
											</li>
											<li class="contacts__item">
												г. Москва, Новочеркасский бульвар,<br>д.41, корп.3
											</li>
										</ul>
									</div>
								</div>
								<div class="site-footer__column site-footer__column_right hide-in-mobile">
									<!-- Vendor -->
									<div class="vendor vendor_tablet">
										<p class="vendor__text">
											<svg class="icon icon-lock"><use xlink:href="icons/icons.svg#lock"></use></svg>
											Передача данных зашифрована и безопасна
										</p>
									</div>
									<!-- Socials -->
									<div class="socials">
										<ul class="socials__list">
											<li class="socials__item">
												<a href="#" class="socials__link">
													<svg class="icon icon-vk"><use xlink:href="icons/icons.svg#vk"></use></svg>
												</a>
											</li>
											<li class="socials__item">
												<a href="#" class="socials__link">
													<svg class="icon icon-fb"><use xlink:href="icons/icons.svg#fb"></use></svg>
												</a>
											</li>
											<li class="socials__item">
												<a href="#" class="socials__link">
													<svg class="icon icon-ok"><use xlink:href="icons/icons.svg#ok"></use></svg>
												</a>
											</li>
											<li class="socials__item">
												<a href="#" class="socials__link">
													<svg class="icon icon-insta"><use xlink:href="icons/icons.svg#insta"></use></svg>
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Vendor -->
					<div class="vendor">
						<div class="container">
							<!-- Logo -->
							<img src="img/vendor_logo.png" alt="" class="vendor__logo">
							<p
								style="display: none;"
								class="vendor__text show-in-mobile">
								Разработано в <a href="http://brainmaze.net" class="vendor__link">brainmaze.net</a>
							</p>
							<p class="vendor__text hide-in-mobile">
								Все придумано и разработано командой <a href="http://brainmaze.net" class="vendor__link">brainmaze.net</a>
								<span class="hide-in-portrait">, а интерьер для конструктора сделан в <a href="http://abmasterplan.com/" class="vendor__link">ab masterplan</a></span>
							</p>
							<p class="vendor__text vendor__text_grey hide-in-portrait hide-in-mobile">
								Авторство фотографий
							</p>
							<p class="vendor__text hide-in-tablet hide-in-mobile">
								<svg class="icon icon-lock"><use xlink:href="icons/icons.svg#lock"></use></svg>
								Передача данных зашифрована и безопасна
							</p>
						</div>
					</div>
				</footer>
				<script src="https://www.youtube.com/iframe_api"></script>
				<script src="js/plugins.min.js"></script>
				<script src="js/app.js"></script>
				<dialog></dialog>
			</div>
		</div>
	</div>
</body>
</html>
