<!-- Price block -->
<div ng-include="'includes/product/price.html'"></div>
<!-- Textures -->
<div ng-include="'includes/product/textures.html'"></div>
<!-- Sizes -->
<div class="form form_sizes">
	<h2 class="form__title">
		Укажите размеры конструкции<span class="desktop-only"> для расчета стоимости</span>
	</h2>
	<div class="form__row">
		<div class="form__cell">
			<label class="label">
				<span class="label__text">
					Ширина
				</span>
				<span class="field" ng-if="!!product">
					<input type="number" class="input" ng-model="product.dimensions.width" ng-change="calcPrice()" placeholder="0м">
				</span>
			</label>
		</div>
		<div class="form__cell">
			<label class="label">
				<span class="label__text">
					Высота
				</span>
				<span class="field" ng-if="!!product">
					<input type="number" class="input" ng-model="product.dimensions.height" ng-change="calcPrice()" placeholder="0м">
				</span>
			</label>
		</div>
	</div>
</div>
<!-- Carnice -->
<div class="form form_carnice">
	<checkbox
		model="product.withCornice"
		label="Добавить к заказу карниз"
		name="type2">
	</checkbox>
</div>
<!-- Buttons set -->
<div class="btn-set">
	<button class="btn btn_red btn_big" ng-click="buyOneClick()">
		Купить в 1 клик
	</button>
	<button class="btn btn_blue btn_big" ng-click="addToCart()">
		Отложить в корзину
	</button>
</div>
<!-- Features -->
<div class="features">
	<!-- Title -->
	<h2 class="features__title">
		Свойства выбранного материала {{currentTexture.name}}
	</h2>
	<div class="features__column">
		<!-- Translucent -->
		<div
			ng-if="currentTexture.translucent"
			class="features__item">
			<svg class="icon icon-sun"><use xlink:href="icons/icons.svg#sun"></use></svg>
			<div class="features__item-text">
				{{currentTexture.translucent}}
			</div>
		</div>
		<!-- Country -->
		<div
			ng-if="currentTexture.country"
			class="features__item">
			<svg class="icon icon-country"><use xlink:href="icons/icons.svg#country"></use></svg>
			<div class="features__item-text">
				{{currentTexture.country}}
			</div>
		</div>
		<!-- Width -->
		<div
			ng-if="currentTexture.width"
			class="features__item">
			<svg class="icon icon-width"><use xlink:href="icons/icons.svg#width"></use></svg>
			<div class="features__item-text">
				{{currentTexture.width}}
			</div>
		</div>
	</div>
	<div class="features__column">
		<!-- Structure -->
		<div
			ng-if="currentTexture.structure"
			class="features__item">
			<svg class="icon icon-structure"><use xlink:href="icons/icons.svg#structure"></use></svg>
			<div class="features__item-text">
				{{currentTexture.structure}}
			</div>
		</div>
	</div>
</div>