<!-- Catalog view -->
@@include('../includes/header.html')
<!-- Main content -->
<main class="main-content">
	<!-- Image gradient -->
	<div
		class="image-gradient"
		style="background: url(img/slide-1.jpg) center no-repeat; -webkit-background-size: cover; background-size: cover;">
	</div>
	<div class="container container_padding">
		<!-- Search info -->
		<div class="search-info">
			По запросу <strong>Горизонтальные жалюзи</strong> найдено 35 предложений
		</div>
		<!-- Sort -->
		<div class="sort">
			<div class="sort__text">
				Сортировать по:
			</div>
			<ul class="sort__list">
				<li class="sort__item">
					<button class="btn">
						<svg class="icon icon-rouble"><use xlink:href="icons/icons.svg#rouble"></use></svg>
						<span class="btn__text">
							Стоимости
						</span>
					</button>
				</li>
				<li class="sort__item active">
					<button class="btn btn_red">
						<svg class="icon icon-star"><use xlink:href="icons/icons.svg#star"></use></svg>
						<span class="btn__text">
							Рейтингу
						</span>
					</button>
				</li>
			</ul>
		</div>
	</div>
	<div class="container container_padding">
 		<div class="aside">
			<!-- Filter -->
			<div class="form form_filter">
				<form action="#">
					<!-- Prices range -->
					<fieldset class="form__fieldset">
						<legend class="form__legend">
							Диапазон цен
						</legend>
						<!-- Range -->
						<div class="form__field">
							<!-- Price range -->
							<range
								min="priceSlider.min"
								max="priceSlider.max"
								options="{{priceSlider.options}}">
							</range>
						</div>
					</fieldset>
					<!-- Blinds type -->
					<fieldset class="form__fieldset">
						<legend class="form__legend">
							Тип горизонтальны жалюзи
						</legend>
						<div class="form__field">
							<checkbox
								model="catalogData.type1"
								label="Броколли"
								name="type1">
							</checkbox>
						</div>
						<div class="form__field">
							<checkbox
								model="catalogData.type2"
								label="Сабрина"
								name="type2">
							</checkbox>
						</div>
						<div class="form__field">
							<checkbox
								model="catalogData.type3"
								label="Канопус"
								name="type3">
							</checkbox>
						</div>
					</fieldset>
				</form>
			</div>
			<!-- Question -->
			<question></question>
		</div>
		<!-- Catalog -->
		<div class="catalog catalog_3">
			<ul class="catalog__list">
				<li
					ng-repeat="(key, value) in catalogItems"
					class="catalog__item">
					<div ng-include="'views/directives/product.html'" scope="" onload=""></div>
				</li>
			</ul>
			<!-- More btn -->
			<div class="more-btn">
				<a href class="more-btn__link">
					<span class="icon icon-more"></span>
					<span class="more-btn__text">
						Показать больше новинок
					</span>
				</a>
			</div>
		</div>
	</div>
</main>
