<!-- Constructor view -->
@@include('../includes/header-constructor.html')
<!-- Main content -->
<main class="main-content">
	<!-- Constructor -->
	<div class="constructor">
		<div class="container container_relative">
			<label
				class="btn btn_red btn_big btn_constructor">
				<input type="file" ng-model="constructorBgImg" base-sixty-four-input>
				<span class="icon icon-camera"></span>
				<span class="text">Загрузить фото своего окна</span>
			</label>
		</div>
		<!-- Constructor preview -->
		<constructor-preview
			ng-if="constructorBgImg.base64"
			background="{{constructorBgImg.base64}}"
			blind="{{texture.texture}}">
		</constructor-preview>
		<div
			ng-if="!constructorBgImg.base64"
			ng-style="{'background-color': '#333', 'background-image': 'url(' + texture.preview + ')'}"
			class="constructor__preview-slide">
		</div>
		<div class="container container_relative">
			<!-- Info -->
			<div class="constructor-info">
				<div class="constructor-info__column">
					<!-- Product name -->
					<div class="constructor-info__name">
						Жалюзи {{texture.category}} {{texture.subcategory}} <span class="grey">{{texture.model}}</span>
					</div>
					<!-- Link -->
					<a
						ng-href="{{texture.url}}"
						class="constructor-info__link">
						Подробнее о товаре
					</a>
				</div>
				<div class="constructor-info__column">
					<!-- Price -->
					<div class="constructor-info__price">
						{{texture.price.new}} р<span class="grey">/м<sup>2</sup></span>
					</div>
					<!-- Add to cart -->
					<button class="btn btn_blue btn_wide">
						Отложить в корзину
					</button>
				</div>
			</div>
		</div>
		<!-- Tabs -->
		<div class="tabs">
			<div class="container container_relative">
				<!-- Controlls -->
				<ul
					ng-init="toggleTab1=true"
					class="tabs__list">
					<li
						ng-click="toggleTab1 = !toggleTab1; toggleTab2 = false"
						class="tabs__item"
						ng-class="{'active': toggleTab1}">
						Жалюзи
					</li><!--
					--><li
						ng-click="toggleTab2 = !toggleTab2; toggleTab1 = false"
						class="tabs__item"
						ng-class="{'active': toggleTab2}">
						Шторы
					</li>
				</ul>
				<!-- Blinds content -->
				<div
					ng-if="toggleTab1"
					class="tabs__content">
					<div class="tabs__column">
						<div class="form form_constructor">
							<div class="form__column">
								<label for="blindsType" class="label">
									Тип жалюзи
								</label>
								<div class="field">
									<div dropdown-select="types"
										dropdown-model="typesModel"
										dropdown-item-label="label">
									</div>
								</div>
							</div>
							<div class="form__column">
								<label for="blindsType" class="label">
									Модель
								</label>
								<div class="field">
									<div dropdown-select="models"
										dropdown-model="modelsModel"
										dropdown-item-label="label">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tabs__column">
						<!-- Textures -->
						<div class="textures textures_dark">
							<header class="textures__header">
								<h2 class="textures__title">
									Выберите цвет или текстуру
								</h2>
								<!-- Filters -->
								<div class="textures__filters">
									<h2 class="textures__filters-title">
										фильтровать:
									</h2>
									<ul class="textures__filters-list">
										<!-- By price -->
										<li class="textures__filters-item">
											<button
												ng-click="togglePricePopup = !togglePricePopup; toggleColorsPopup = false; refreshRange()"
												class="textures__filters-btn"
												ng-class="{'active': togglePricePopup}">
												цена
												<svg class="icon icon-shevron-down"><use xlink:href="icons/icons.svg#shevron-down"></use></svg>
											</button>
											<!-- Popup -->
											<div class="popup" ng-show="togglePricePopup">
												<div class="popup__inside">
													<h2 class="popup__title">
														Стоимость материала за м<sup>2</sup>
													</h2>
													<div class="popup__content">
														<!-- Price range -->
														<range
															min="priceSlider.min"
															max="priceSlider.max"
															options="{{priceSlider.options}}">
														</range>
													</div>
													<footer class="popup__footer">
														<a href="#" class="popup__link">
															<svg class="icon icon-close"><use xlink:href="icons/icons.svg#close"></use></svg>
															Снять выделение
														</a>
													</footer>
												</div>
											</div>
										</li>
										<!-- By color -->
										<li class="textures__filters-item">
											<button
												ng-click="toggleColorsPopup = !toggleColorsPopup; togglePricePopup = false"
												class="textures__filters-btn"
												ng-class="{'active': toggleColorsPopup}">
												цвет
												<svg class="icon icon-shevron-down"><use xlink:href="icons/icons.svg#shevron-down"></use></svg>
											</button>
											<!-- Popup -->
											<div class="popup" ng-show="toggleColorsPopup">
												<div class="popup__inside">
													<h2 class="popup__title">
														Выберите цвет материала
													</h2>
													<div class="popup__content">
														<!-- Colors set -->
														<ul class="colors-set">
															<li class="colors-set__item">
																<color
																	model="filterColor.red"
																	name="color"
																	fill="red">
																</color>
															</li>
															<li class="colors-set__item">
																<color
																	model="filterColor.green"
																	name="color"
																	fill="green">
																</color>
															</li>
															<li class="colors-set__item">
																<color
																	model="filterColor.blue"
																	name="color"
																	fill="blue">
																</color>
															</li>
														</ul>
													</div>
													<footer class="popup__footer">
														<a href="#" class="popup__link">
															<svg class="icon icon-close"><use xlink:href="icons/icons.svg#close"></use></svg>
															Снять выделение
														</a>
													</footer>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</header>
							<!-- Content -->
							<ul class="textures__list">
								<li
									ng-repeat="texture in textures"
									class="textures__item">
									<texture
										model="$parent.$parent.textureId"
										name="texture"
										checked="{{$first}}"
										fill="{{texture.img}}"
										value="{{texture.id}}">
									</texture>
								</li>
							</ul>
							<button class="textures__show-all">
								развернуть все 457 материалов
								<svg class="icon icon-shevron-down"><use xlink:href="icons/icons.svg#shevron-down"></use></svg>
							</button>
						</div>
					</div>
				</div>
				<!-- Curtains content -->
				<div
					ng-if="toggleTab2"
					class="tabs__content">
					<div class="tabs__column">
						<div class="form form_constructor">
							<div class="form__column">
								<label for="blindsType" class="label">
									Тип жалюзи
								</label>
								<div class="field">
									<div dropdown-select="types"
										dropdown-model="typesModel"
										dropdown-item-label="label">
									</div>
								</div>
							</div>
							<div class="form__column">
								<label for="blindsType" class="label">
									Модель
								</label>
								<div class="field">
									<div dropdown-select="models"
										dropdown-model="modelsModel"
										dropdown-item-label="label">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tabs__column">
						<!-- Textures -->
						<div class="textures textures_dark">
							<header class="textures__header">
								<h2 class="textures__title">
									Выберите цвет или текстуру
								</h2>
								<!-- Filters -->
								<div class="textures__filters">
									<h2 class="textures__filters-title">
										фильтровать:
									</h2>
									<ul class="textures__filters-list">
										<!-- By price -->
										<li class="textures__filters-item">
											<button
												ng-click="togglePricePopup = !togglePricePopup; toggleColorsPopup = false; refreshRange()"
												class="textures__filters-btn"
												ng-class="{'active': togglePricePopup}">
												цена
												<svg class="icon icon-shevron-down"><use xlink:href="icons/icons.svg#shevron-down"></use></svg>
											</button>
											<!-- Popup -->
											<div class="popup" ng-show="togglePricePopup">
												<div class="popup__inside">
													<h2 class="popup__title">
														Стоимость материала за м<sup>2</sup>
													</h2>
													<div class="popup__content">
														<!-- Price range -->
														<range
															min="priceSlider.min"
															max="priceSlider.max"
															options="{{priceSlider.options}}">
														</range>
													</div>
													<footer class="popup__footer">
														<a href="#" class="popup__link">
															<svg class="icon icon-close"><use xlink:href="icons/icons.svg#close"></use></svg>
															Снять выделение
														</a>
													</footer>
												</div>
											</div>
										</li>
										<!-- By color -->
										<li class="textures__filters-item">
											<button
												ng-click="toggleColorsPopup = !toggleColorsPopup; togglePricePopup = false"
												class="textures__filters-btn"
												ng-class="{'active': toggleColorsPopup}">
												цвет
												<svg class="icon icon-shevron-down"><use xlink:href="icons/icons.svg#shevron-down"></use></svg>
											</button>
											<!-- Popup -->
											<div class="popup" ng-show="toggleColorsPopup">
												<div class="popup__inside">
													<h2 class="popup__title">
														Выберите цвет материала
													</h2>
													<div class="popup__content">
														<!-- Colors set -->
														<ul class="colors-set">
															<li class="colors-set__item">
																<color
																	model="filterColor.red"
																	name="color"
																	fill="red">
																</color>
															</li>
															<li class="colors-set__item">
																<color
																	model="filterColor.green"
																	name="color"
																	fill="green">
																</color>
															</li>
															<li class="colors-set__item">
																<color
																	model="filterColor.blue"
																	name="color"
																	fill="blue">
																</color>
															</li>
														</ul>
													</div>
													<footer class="popup__footer">
														<a href="#" class="popup__link">
															<svg class="icon icon-close"><use xlink:href="icons/icons.svg#close"></use></svg>
															Снять выделение
														</a>
													</footer>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</header>
							<!-- Content -->
							<ul class="textures__list">
								<li
									ng-repeat="texture in textures"
									class="textures__item">
									<texture
										model="$parent.$parent.textureId"
										name="texture"
										checked="{{$first}}"
										fill="{{texture.img}}"
										value="{{texture.id}}">
									</texture>
								</li>
							</ul>
							<button class="textures__show-all">
								развернуть все 457 материалов
								<svg class="icon icon-shevron-down"><use xlink:href="icons/icons.svg#shevron-down"></use></svg>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
