<!-- Product view -->
<main class="main-content">
	<div class="slider">
		<div
			ng-style="{'background-image': 'url(' + product.image_slider + ')'}"
			class="slider__img">
		</div>
	</div>
	<div class="container container_product-page">
		<!-- Ribbon title -->
		<div class="ribbon-title">
			<div class="ribbon-title__text">
				{{product.category_title}}
			</div>
		</div>
		<!-- Left -->
		<div class="column-2 product-page__main">
			<!-- Gallery -->
			<div ng-include="'includes/product/gallery.html'"></div>
			<!-- Service Block Mobile -->
			<div ng-if="mobile" ng-include="'includes/product/selection.html'"></div>
			<!-- Text block -->
			<div class="text-block">
				<div class="text-block__column text-block__column_padding">
					<!-- Title -->
					<h2 class="text-block__title">
						{{product.description.title}}
					</h2>
					<p class="text-block__text">
						{{product.description.text}}
					</p>
				</div>
			</div>
			<div ng-if="!desktop" ng-include="'views/directives/construction.html'"></div>
			<!-- Tablet video -->
			<div class="text-block video" ng-if="!!product.video && !desktop">
				<h2 class="video__title">
					Видео о римских шторах
				</h2>
				<div class="video__frame-holder">
					<youtube-video
						video-id="getYoutubeId(product.video)">
					</youtube-video>
				</div>
			</div>
			<!-- Reviews -->
			<reviews product-id="{{product.id}}" ng-if="!!product.id"></reviews>
		</div>
		<!-- Right -->
		<div class="column-2 product-page__aside">
			<!-- Service Block Desktop -->
			<div ng-if="!mobile" ng-include="'includes/product/selection.html'"></div>
			<!-- Text block with img-->
			<div ng-if="desktop" ng-include="'views/directives/construction.html'"></div>
			<!-- Text block with benefits-->
			<div class="text-block text-block_benefits">
				<div class="text-block__column text-block__column_padding">
					<div ng-bind-html="product.cornice.text" class="text-block__text-holder"></div>
					<!-- Price block -->
					<div class="price-block price-block_inline">
						<div class="price-block__text">
							{{product.cornice.description}}
						</div>
						<!-- New price -->
						<div class="price-block__new">
							<strong>{{product.cornice.price}} р.</strong>/пог.м
						</div>
					</div>
				</div>
				<div class="text-block__column">
					<!-- Benefits -->
					<benefits
						title="Преимущества"
						url="benefits.json">
					</benefits>
				</div>
			</div>
			<!-- Video -->
			<div class="video" ng-if="!!product.video && desktop">
				<h2 class="video__title">
					Видео о римских шторах
				</h2>
				<div class="video__frame-holder">
					<youtube-video
						video-id="getYoutubeId(product.video)">
					</youtube-video>
				</div>
			</div>
		</div>
	</div>
	<!-- Catalog -->
	<div class="container container_product-page" ng-if="catalogItems.length > 0">
		<div class="catalog">
			<!-- Title -->
			<h2 class="catalog__title">
				Вам также может понравиться
			</h2>
			<ul class="catalog__list">
				<li
					ng-repeat="product in catalogItems"
					class="catalog__item">
					<div ng-include="'views/directives/product.html'" scope="" onload=""></div>
				</li>
			</ul>
		</div>
	</div>
</main>
