<!-- Product view -->
<div class="slider">
	<div
		style="background: url(img/slide-1.jpg) center no-repeat; background-size: cover;"
		class="slider__img">
	</div>
</div>
<div class="container container_product-page">
	<!-- Ribbon title -->
	<div class="ribbon-title">
		<div class="ribbon-title__text">
			{{product.category}}
		</div>
	</div>
	<!-- Left -->
	<div class="column-2">
		<!-- Gallery -->
		<div class="gallery">
			<!-- Title -->
			<div class="gallery__title">
				{{product.name}} <span class="gallery__model-title">модель {{currentTexture.model}}</span>
			</div>
			<!-- Main img -->
			<div
				ng-style="{'background': 'url(' + gallery.currentImage + ')'}"
				class="gallery__main-img">
			</div>
			<!-- <div
				ng-style="{'background': 'url(' + gallery.currentImage + ') center no-repeat', 'background-size': 'cover'}"
				class="gallery__main-img">
			</div> -->
			<!-- List -->
			<ul class="gallery__list">
				<!-- Texture preview -->
				<li class="gallery__item">
					<input
						ng-checked="true"
						type="radio"
						value="{{currentTexture.img}}"
						ng-model="gallery.currentImage"
						class="gallery__input"
						id="galleryItem-texture">
					<label
						style="background: url({{currentTexture.img}}) center no-repeat; background-size: cover;"
						class="gallery__item-img"
						for="galleryItem-texture">
					</label>
				</li>
				<li
					ng-repeat="(index, galleryItem) in product.gallery"
					class="gallery__item">
					<input
						type="radio"
						value="{{galleryItem.src}}"
						ng-model="gallery.currentImage"
						class="gallery__input"
						id="galleryItem-{{index+1}}">
					<label
						style="background: url({{galleryItem.src}}) center no-repeat; background-size: cover;"
						class="gallery__item-img"
						for="galleryItem-{{index+1}}">
					</label>
				</li>
			</ul>
		</div>
		<!-- Text block -->
		<div class="text-block">
			<div class="text-block__column text-block__column_padding">
				<!-- Title -->
				<h2 class="text-block__title">
					{{product.description.title}}
				</h2>
				<p class="text-block__text">
					{{product.description.text}}
				</p>
			</div>
		</div>
		<!-- Reviews -->
		<div class="reviews">
			<!-- Header -->
			<header class="reviews__header">
				<!-- Title -->
				<h2 class="reviews__title">
					Отзывы о римских шторах (230)
				</h2>
				<!-- Rating -->
				<div class="reviews__rating">
					<h3 class="reviews__subtitle">
						Общий рейтинг:
					</h3>
					<div class="reviews__rating-container">
						<!-- Rating -->
						<input-stars
							readonly
							icon-base="icon"
							icon-empty="icon-rating-inactive-star"
							icon-hover="icon-rating-hover-star"
							icon-full="icon-rating-full-star"
							list-class="rating"
							max="5"
							ng-model="$parent.rating">
						</input-stars>
						 <div class="reviews__rating-text">
						 	<strong>4.6</strong> (230 отзывов)
						 </div>
					</div>
				</div>
			</header>
			<!-- Content -->
			<ul class="reviews__list">
				<li
					ng-repeat="review in reviewsItems track by $index"
					class="reviews__item">
					<!-- Review -->
					<div class="review">
						<!-- Author -->
						<div class="review__author">
							Михаил Бердянский
						</div>
						<!-- Rating -->
						<input-stars
							readonly
							icon-base="icon"
							icon-empty="icon-rating-inactive-star"
							icon-hover="icon-rating-hover-star"
							icon-full="icon-rating-full-star"
							list-class="rating"
							max="5"
							ng-model="$parent.rating">
						</input-stars>
						 <!-- Text -->
						 <p class="review__text">
						 	I love my new MM Traditional, just love it! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum est consequatur id cupiditate nemo quia ducimus, eos nobis. Ducimus, impedit!
						 </p>
						 <!-- Date -->
						 <time datetime="2013-09-27" class="review__date">
						 	27 сентября 2013 г
						 </time>
					</div>
				</li>
			</ul>
			<!-- Footer -->
			<footer class="reviews__footer">
				<!-- More btn -->
				<div class="more-btn">
					<a href class="more-btn__link">
						<span class="icon icon-more"></span>
						<span class="more-btn__text">
							Показать еще <span>5</span> отзывов
						</span>
					</a>
				</div>
				<!-- Add new review -->
				<button class="btn btn_blue btn_size-2">
					Написать отзыв
				</button>
			</footer>
		</div>
		<!-- New review -->
		<div class="form form_review">
			<form name="reviewForm" novalidate>
				<h2 class="form__title">
					Напишите свой отзыв
				</h2>
				<!-- Contacts row -->
				<div class="form__row">
					<div class="form__column">
						<!-- Name -->
						<div class="form__field">
							<input
								type="text"
								class="input"
								name="name"
								required
								placeholder="Ваше имя">
							<!-- Error -->
							<div
								ng-if="false"
								class="error">
								Это обязательное поле
							</div>
						</div>
					</div>
					<div class="form__column">
						<!-- Email -->
						<div class="form__field">
							<input
								type="email"
								class="input"
								name="name"
								required
								placeholder="Ваш email (на сайте не публикуется)">
							<!-- Error -->
							<div
								ng-if="false"
								class="error">
								Это обязательное поле
							</div>
						</div>
					</div>
				</div>
				<!-- Rating row -->
				<div class="form__row">
					<p class="form__text">
						Ваш рейтинг товару:
					</p>
					<div class="form__field">
						<!-- Rating -->
						<input-stars
							icon-base="icon"
							icon-empty="icon-rating-inactive-star"
							icon-hover="icon-rating-hover-star"
							icon-full="icon-rating-full-star"
							list-class="rating"
							max="5"
							ng-model="$parent.rating">
						</input-stars>
						 <!-- Error -->
						<div
							ng-if="false"
							class="error">
							Это обязательное поле
						</div>
					</div>
				</div>
				<!-- Text row -->
				<div class="form__row">
					<div class="form__field">
						<textarea
							required
							name="review"
							placeholder="Ваш отзыв"
							class="input"></textarea>
						<!-- Error -->
						<div
							ng-if="false"
							class="error">
							Это обязательное поле
						</div>
					</div>
				</div>
				<!-- Text -->
				<p class="form__text form__text_grey">
					Внимание! Публикация отзыва производится только после предваритеьной модерации
				</p>
				<button class="btn btn_red btn_size-2">
					Отправить отзыв
				</button>
			</form>
		</div>
	</div>
	<!-- Right -->
	<div class="column-2">
		<!-- Price block -->
		<div class="price-block">
			<div class="price-block__container">
				<!-- Old price -->
				<div class="price-block__old">
					{{product.price.old}} р./м<sup>2</sup>
				</div>
				<!-- New price -->
				<div class="price-block__new">
					<strong>{{product.price.new}} р.</strong>/м<sup>2</sup>
				</div>
			</div>
			<!-- Description -->
			<p class="price-block__text">
				Стоимость зависит от выбора материала и размеров
			</p>
			<div class="price-block__label">
				<div class="price-block__label-text">-{{product.discount}}%</div>
			</div>
		</div>
		<!-- Textures -->
		<div class="textures">
			<header class="textures__header">
				<h2 class="textures__title">
					Выберите цвет или текстуру
				</h2>
				<!-- Filters -->
				<div class="textures__filters">
					<h2 class="textures__filters-title">
						фильтровать:
					</h2>
					<ul class="textures__filters-list">
						<!-- By price -->
						<li class="textures__filters-item">
							<button
								ng-click="togglePricePopup = !togglePricePopup; toggleColorsPopup = false; refreshRange()"
								class="textures__filters-btn"
								ng-class="{'active': togglePricePopup}">
								цена
							</button>
							<!-- Popup -->
							<div class="popup" ng-show="togglePricePopup">
								<h2 class="popup__title">
									Стоимость материала за м<sup>2</sup>
								</h2>
								<div class="popup__content">
									<!-- Price range -->
									<range
										min="priceSlider.min"
										max="priceSlider.max"
										options="{{priceSlider.options}}">
									</range>
								</div>
								<footer class="popup__footer">
									<a href="#" class="popup__link">
										Снять выделение
									</a>
								</footer>
							</div>
						</li>
						<!-- By color -->
						<li class="textures__filters-item">
							<button
								ng-click="toggleColorsPopup = !toggleColorsPopup; togglePricePopup = false"
								class="textures__filters-btn"
								ng-class="{'active': toggleColorsPopup}">
								цвет
							</button>
							<!-- Popup -->
							<div class="popup" ng-show="toggleColorsPopup">
								<h2 class="popup__title">
									Выберите цвет материала
								</h2>
								<div class="popup__content">
									<!-- Colors set -->
									<ul class="colors-set">
										<li class="colors-set__item">
											<color
												model="filterColor.red"
												name="color"
												fill="red">
											</color>
										</li>
										<li class="colors-set__item">
											<color
												model="filterColor.green"
												name="color"
												fill="green">
											</color>
										</li>
										<li class="colors-set__item">
											<color
												model="filterColor.blue"
												name="color"
												fill="blue">
											</color>
										</li>
									</ul>
								</div>
								<footer class="popup__footer">
									<a href="#" class="popup__link">
										Снять выделение
									</a>
								</footer>
							</div>
						</li>
					</ul>
				</div>
			</header>
			<!-- Content -->
			<ul class="textures__list">
				<li
					ng-repeat="texture in textures"
					class="textures__item">
					<texture
						model="$parent.textureModel"
						name="texture"
						checked="{{$first}}"
						fill="{{texture.img}}"
						value="{{texture.id}}">
					</texture>
				</li>
			</ul>
		</div>
		<!-- Sizes -->
		<div class="form form_sizes">
			<h2 class="form__title">
				Укажите размеры конструкции для расчета стоимости
			</h2>
			<div class="form__row">
				<div class="form__cell">
					<label class="label">
						<span class="label__text">
							Ширина
						</span>
						<span class="field">
							<input type="number" class="input">
						</span>
					</label>
				</div>
				<div class="form__cell">
					<label class="label">
						<span class="label__text">
							Высота
						</span>
						<span class="field">
							<input type="number" class="input">
						</span>
					</label>
				</div>
			</div>
		</div>
		<!-- Carnice -->
		<div class="form form_carnice">
			<checkbox
				model="carnice"
				label="Добавить к заказу карниз"
				name="type2">
			</checkbox>
		</div>
		<!-- Features -->
		<div class="features">
			<!-- Title -->
			<h2 class="features__title">
				Свойства выбранного материала {{currentTexture.name}}
			</h2>
			<div class="features__column">
				<!-- Translucent -->
				<div
					ng-if="currentTexture.translucent"
					class="features__item">
					<svg class="icon icon-sun"><use xlink:href="icons/icons.svg#sun"></use></svg>
					<div class="features__item-text">
						{{currentTexture.translucent}}
					</div>
				</div>
				<!-- Country -->
				<div
					ng-if="currentTexture.country"
					class="features__item">
					<svg class="icon icon-country"><use xlink:href="icons/icons.svg#country"></use></svg>
					<div class="features__item-text">
						{{currentTexture.country}}
					</div>
				</div>
				<!-- Width -->
				<div
					ng-if="currentTexture.width"
					class="features__item">
					<svg class="icon icon-width"><use xlink:href="icons/icons.svg#width"></use></svg>
					<div class="features__item-text">
						{{currentTexture.width}}
					</div>
				</div>
			</div>
			<div class="features__column">
				<!-- Structure -->
				<div
					ng-if="currentTexture.structure"
					class="features__item">
					<svg class="icon icon-structure"><use xlink:href="icons/icons.svg#structure"></use></svg>
					<div class="features__item-text">
						{{currentTexture.structure}}
					</div>
				</div>
			</div>
		</div>
		<!-- Buttons set -->
		<div class="btn-set btn-set_margin-bottom">
			<button class="btn btn_red btn_big">
				Купить в 1 клик
			</button>
			<button class="btn btn_blue btn_big">
				Отложить в корзину
			</button>
		</div>
		<!-- Text block with img-->
		<div class="text-block text-block_line text-block_scheme">
			<div class="text-block__column text-block__column_padding">
				<!-- Title -->
				<h2 class="text-block__title">
					{{product.construction.title}}
				</h2>
				<p class="text-block__text">
					{{product.construction.text}}
				</p>
			</div>
			<div class="text-block__column text-block__column_padding">
				<!-- Title -->
				<h2 class="text-block__title">
					Схема
				</h2>
				<img
					ng-src="{{product.construction.scheme}}"
					alt=""
					class="text-block__img">
				<a href="#" class="btn btn_blue btn-size-1">
					Увеличить
				</a>
			</div>
		</div>
		<!-- Text block with benefits-->
		<div class="text-block text-block_benefits">
			<div class="text-block__column text-block__column_padding">
				<div ng-bind-html="product.cornice.text"></div>
				<!-- Price block -->
				<div class="price-block price-block_inline">
					<div class="price-block__text">
						{{product.cornice.description}}
					</div>
					<!-- New price -->
					<div class="price-block__new">
						<strong>{{product.cornice.price}} р.</strong>/пог.м
					</div>
				</div>
			</div>
			<div class="text-block__column">
				<!-- Benefits -->
				<benefits
					title="Преимущества"
					url="benefits.json">
				</benefits>
			</div>
		</div>
		<!-- Video -->
		<div class="video">
			<h2 class="video__title">
				Видео о римских шторах
			</h2>
			<div class="video__frame-holder">
				<youtube-video
					video-id="getYoutubeId('https://www.youtube.com/watch?v=_DXI6mCUX4Q')">
				</youtube-video>
			</div>
		</div>
	</div>
</div>
<!-- Catalog -->
<div class="container container_product-page">
	<div class="catalog">
		<!-- Title -->
		<h2 class="catalog__title">
			Вам также может понравиться
		</h2>
		<ul class="catalog__list">
			<li
				ng-repeat="(key, value) in catalogItems"
				class="catalog__item">
				<div ng-include="'views/directives/product.html'" scope="" onload=""></div>
			</li>
		</ul>
	</div>
</div>
