<!-- Product view -->
<main class="main-content">
	<div class="slider">
		<div
			style="background-image: url(img/slide-1.jpg);"
			class="slider__img">
		</div>
	</div>
	<div class="container container_product-page">
		<!-- Ribbon title -->
		<div class="ribbon-title">
			<div class="ribbon-title__text">
				{{product.title}}
			</div>
		</div>
		<!-- Left -->
		<div class="column-2">
			<!-- Gallery -->
			<div class="gallery">
				<!-- Title -->
				<div class="gallery__title">
					{{product.title}} <span class="gallery__model-title">модель {{currentTexture.model}}</span>
				</div>
				<!-- Main img -->
				<div
					ng-style="{'background': 'url(' + gallery.currentImage + ')', opacity: (!!gallery.currentImage)?1:0 }"
					class="gallery__main-img">
				</div>
				<!-- List -->
				<ul class="gallery__list">
					<!-- Texture preview -->
					<li class="gallery__item">
						<input
							ng-checked="true"
							type="radio"
							value="{{currentTexture.img}}"
							ng-model="gallery.currentImage"
							class="gallery__input"
							id="galleryItem-texture">
						<label
							ng-style="{'background': 'url(' + currentTexture.img + ') center no-repeat; background-size: cover;'}"
							class="gallery__item-img"
							for="galleryItem-texture">
						</label>
					</li>
					<li
						ng-repeat="(index, galleryItem) in product.gallery"
						class="gallery__item">
						<input
							type="radio"
							value="{{galleryItem.src}}"
							ng-model="gallery.currentImage"
							class="gallery__input"
							id="galleryItem-{{index+1}}">
						<label
							style="background: url({{galleryItem.src}}) center no-repeat; background-size: cover;"
							class="gallery__item-img"
							for="galleryItem-{{index+1}}">
						</label>
					</li>
				</ul>
			</div>
			<!-- Text block -->
			<div class="text-block">
				<div class="text-block__column text-block__column_padding">
					<!-- Title -->
					<h2 class="text-block__title">
						{{product.description.title}}
					</h2>
					<p class="text-block__text">
						{{product.description.text}}
					</p>
				</div>
			</div>
			<!-- Reviews -->
			<reviews product-id="{{product.id}}" ng-if="!!product.id"></reviews>
		</div>
		<!-- Right -->
		<div class="column-2">
			<!-- Price block -->
			<div class="price-block">
				<div class="price-block__container">
					<!-- Old price -->
					<div class="price-block__old" ng-style="{visibility: (!!product.sale) ? 'visible' : 'hidden' }">
						<span ng-if="!product.priceExactly">от</span>
						{{ product.price * (1 + product.sale) | number:0 }}
						р.<span ng-if="!product.priceExactly">/м<sup>2</sup></span>
					</div>
					<!-- New price -->
					<div class="price-block__new">
						<strong>
							<span ng-if="!product.priceExactly">от</span>
							{{product.price | number:0}} р.
						</strong><span ng-if="!product.priceExactly">/м<sup>2</sup></span>
					</div>
				</div>
				<!-- Description -->
				<p class="price-block__text">
					Стоимость зависит от выбора материала и размеров
				</p>
				<div class="price-block__label" ng-if="!!product.sale">
					<div class="price-block__label-text">
						-{{product.sale * 100}}%
					</div>
				</div>
			</div>
			<!-- Textures -->
			<div class="textures">
				<header class="textures__header">
					<h2 class="textures__title">
						Выберите цвет или текстуру
					</h2>
					<!-- Filters -->
					<div class="textures__filters">
						<h2 class="textures__filters-title">
							фильтровать:
						</h2>
						<ul class="textures__filters-list">
							<!-- By price -->
							<li class="textures__filters-item">
								<button
									ng-click="togglePricePopup = !togglePricePopup; toggleColorsPopup = false; refreshRange()"
									class="textures__filters-btn"
									ng-class="{'active': togglePricePopup}">
									цена
									<svg class="icon icon-shevron-down"><use xlink:href="icons/icons.svg#shevron-down"></use></svg>
								</button>
								<!-- Popup -->
								<div class="popup" ng-show="togglePricePopup">
									<div class="popup__inside">
										<h2 class="popup__title">
											Стоимость материала за м<sup>2</sup>
										</h2>
										<div class="popup__content">
											<!-- Price range -->
											<range
												min="priceSlider.min"
												max="priceSlider.max"
												options="{{priceSlider.options}}">
											</range>
										</div>
										<footer class="popup__footer">
											<a href="#" class="popup__link">
												<svg class="icon icon-close"><use xlink:href="icons/icons.svg#close"></use></svg>
												Снять выделение
											</a>
										</footer>
									</div>
								</div>
							</li>
							<!-- By color -->
							<li class="textures__filters-item">
								<button
									ng-click="toggleColorsPopup = !toggleColorsPopup; togglePricePopup = false"
									class="textures__filters-btn"
									ng-class="{'active': toggleColorsPopup}">
									цвет
									<svg class="icon icon-shevron-down"><use xlink:href="icons/icons.svg#shevron-down"></use></svg>
								</button>
								<!-- Popup -->
								<div class="popup" ng-show="toggleColorsPopup">
									<div class="popup__inside">
										<h2 class="popup__title">
											Выберите цвет материала
										</h2>
										<div class="popup__content">
											<!-- Colors set -->
											<ul class="colors-set">
												<li class="colors-set__item">
													<color
														model="filterColor.red"
														name="color"
														fill="red">
													</color>
												</li>
												<li class="colors-set__item">
													<color
														model="filterColor.green"
														name="color"
														fill="green">
													</color>
												</li>
												<li class="colors-set__item">
													<color
														model="filterColor.blue"
														name="color"
														fill="blue">
													</color>
												</li>
											</ul>
										</div>
										<footer class="popup__footer">
											<a href="#" class="popup__link">
												<svg class="icon icon-close"><use xlink:href="icons/icons.svg#close"></use></svg>
												Снять выделение
											</a>
										</footer>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</header>
				<!-- Content -->
				<ul class="textures__list">
					<li
						ng-repeat="texture in textures"
						class="textures__item">
						<texture
							title="{{texture.model}}"
							model="$parent.textureModel"
							name="texture"
							checked="{{$first}}"
							fill="{{texture.img}}"
							value="{{texture.id}}">
						</texture>
					</li>
				</ul>
				<button class="textures__show-all" ng-if="false">
					развернуть все 457 материалов
					<svg class="icon icon-shevron-down"><use xlink:href="icons/icons.svg#shevron-down"></use></svg>
				</button>
			</div>
			<!-- Sizes -->
			<div class="form form_sizes">
				<h2 class="form__title">
					Укажите размеры конструкции для расчета стоимости
				</h2>
				<div class="form__row">
					<div class="form__cell">
						<label class="label">
							<span class="label__text">
								Ширина
							</span>
							<span class="field" ng-if="!!product">
								<input type="number" class="input" ng-model="product.dimensions.width" ng-change="calcPrice()" placeholder="0м">
							</span>
						</label>
					</div>
					<div class="form__cell">
						<label class="label">
							<span class="label__text">
								Высота
							</span>
							<span class="field" ng-if="!!product">
								<input type="number" class="input" ng-model="product.dimensions.height" ng-change="calcPrice()" placeholder="0м">
							</span>
						</label>
					</div>
				</div>
			</div>
			<!-- Carnice -->
			<div class="form form_carnice">
				<checkbox
					model="product.withCornice"
					label="Добавить к заказу карниз"
					name="type2">
				</checkbox>
			</div>
			<!-- Features -->
			<div class="features">
				<!-- Title -->
				<h2 class="features__title">
					Свойства выбранного материала {{currentTexture.name}}
				</h2>
				<div class="features__column">
					<!-- Translucent -->
					<div
						ng-if="currentTexture.translucent"
						class="features__item">
						<svg class="icon icon-sun"><use xlink:href="icons/icons.svg#sun"></use></svg>
						<div class="features__item-text">
							{{currentTexture.translucent}}
						</div>
					</div>
					<!-- Country -->
					<div
						ng-if="currentTexture.country"
						class="features__item">
						<svg class="icon icon-country"><use xlink:href="icons/icons.svg#country"></use></svg>
						<div class="features__item-text">
							{{currentTexture.country}}
						</div>
					</div>
					<!-- Width -->
					<div
						ng-if="currentTexture.width"
						class="features__item">
						<svg class="icon icon-width"><use xlink:href="icons/icons.svg#width"></use></svg>
						<div class="features__item-text">
							{{currentTexture.width}}
						</div>
					</div>
				</div>
				<div class="features__column">
					<!-- Structure -->
					<div
						ng-if="currentTexture.structure"
						class="features__item">
						<svg class="icon icon-structure"><use xlink:href="icons/icons.svg#structure"></use></svg>
						<div class="features__item-text">
							{{currentTexture.structure}}
						</div>
					</div>
				</div>
			</div>
			<!-- Buttons set -->
			<div class="btn-set btn-set_margin-bottom">
				<button class="btn btn_red btn_big">
					Купить в 1 клик
				</button>
				<button class="btn btn_blue btn_big" ng-click="addToCart()">
					Отложить в корзину
				</button>
			</div>
			<!-- Text block with img-->
			<div class="text-block text-block_line text-block_scheme">
				<div class="text-block__column text-block__column_padding">
					<!-- Title -->
					<h2 class="text-block__title">
						{{product.construction.title}}
					</h2>
					<p class="text-block__text">
						{{product.construction.text}}
					</p>
				</div>
				<div class="text-block__column text-block__column_padding">
					<!-- Title -->
					<h2 class="text-block__title">
						Схема
					</h2>
					<img
						ng-src="{{product.construction.scheme}}"
						alt=""
						class="text-block__img">
					<a href="#" class="btn btn_blue btn-size-1">
						Увеличить
					</a>
				</div>
			</div>
			<!-- Text block with benefits-->
			<div class="text-block text-block_benefits">
				<div class="text-block__column text-block__column_padding">
					<div ng-bind-html="product.cornice.text"></div>
					<!-- Price block -->
					<div class="price-block price-block_inline">
						<div class="price-block__text">
							{{product.cornice.description}}
						</div>
						<!-- New price -->
						<div class="price-block__new">
							<strong>{{product.cornice.price}} р.</strong>/пог.м
						</div>
					</div>
				</div>
				<div class="text-block__column">
					<!-- Benefits -->
					<benefits
						title="Преимущества"
						url="benefits.json">
					</benefits>
				</div>
			</div>
			<!-- Video -->
			<div class="video" ng-if="!!product.video">
				<h2 class="video__title">
					Видео о римских шторах
				</h2>
				<div class="video__frame-holder">
					<youtube-video
						video-id="getYoutubeId(product.video)">
					</youtube-video>
				</div>
			</div>
		</div>
	</div>
	<!-- Catalog -->
	<div class="container container_product-page" ng-if="catalogItems.length > 0">
		<div class="catalog">
			<!-- Title -->
			<h2 class="catalog__title">
				Вам также может понравиться
			</h2>
			<ul class="catalog__list">
				<li
					ng-repeat="product in catalogItems"
					class="catalog__item">
					<div ng-include="'views/directives/product.html'" scope="" onload=""></div>
				</li>
			</ul>
		</div>
	</div>
</main>
